/* styles.css */
.signup-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le formulaire */
    align-items: center; /* Aligne horizontalement le formulaire */
    background-color: green; /* Arrière-plan vert pour la page entière */
    padding: 20px; /* Pour donner un peu d'espace autour */
  }
  
  .header {
    position: absolute;
    top: 20px;
    left: 20px; /* Texte aligné à droite */
    text-align: left;
    color: white;
  }
  
  h2 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .form-container {
    background-color: green; /* Arrière-plan blanc pour le formulaire */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .name-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: rgb(7, 8, 8);
  }
  
  .name-row .form-group {
    width: 48%;
  }
  
  input[type="text"], input[type="email"], input[type="password"], select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(7, 19, 7);
    color: white;
    cursor: pointer;
  }
  
 


  .checkbox-group {
    display: flex;
    justify-content: space-between;
    
  }
  
  .checkbox-group input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    transform: scale(1.5); 
    
    margin-top: 10px;
    
  }
  
  .checkbox-group label {
    font-size: 18px; /* Ajuster la taille du texte si nécessaire */
    margin-left: 90px;
    margin-top: -30px;
    right: 10px;
    color: black;
  }
  
  .form-group label {
    color: black;
    font-size: medium;
  }